<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start" style="flex-grow: 1; justify-content: center;">
            <a class="navbar-item" href="https://claudiuskienle.de">
                <span class="icon">
                    <i class="fas fa-home"></i>
                </span>
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More Research
                </a>
                <div class="navbar-dropdown">
                    {% for item in site.data.pages %}
                    {% if item.path contains '/p/' %}
                    <a class="navbar-item {% if page.url contains item.path %}is-active{% endif %}"
                        href="{{ item.path | relative_url }}">
                        {{ item.title }}
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</nav>